<%- model_class = Place -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
 
      <th><%= model_class.human_attribute_name(:name) %></th>
      
      <th><%= model_class.human_attribute_name(:description) %></th>
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |place| %>
      <tr>
      
        <td><%= place.name %></td>
       
        <td><%= place.description %></td>
        
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      place_path(place), :class => 'btn btn-default btn-xs' %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_place_path,
            :class => 'btn btn-primary' %>
