<%- model_class = Resaturant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:contact) %></th>
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @resaturants.each do |resaturant| %>
      <tr>
        <td><%= link_to resaturant.id, resaturant_path(resaturant) %></td>
        <td><%= resaturant.name %></td>
        <td><%= resaturant.location %></td>
        <td><%= resaturant.contact %></td>
        
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      resaturant_path(resaturant), :class => 'btn btn-default btn-xs' %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_resaturant_path,
            :class => 'btn btn-primary' %>
